<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.v5.mapper.SourceMapper">
  <resultMap id="BaseResultMap" type="com.v5.entity.Source">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_source
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.v5.entity.Source">
    insert into t_source (id, source_name)
    values (#{id,jdbcType=BIGINT}, #{sourceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.v5.entity.Source">
    insert into t_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sourceName != null">
        source_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.v5.entity.Source">
    update t_source
    <set>
      <if test="sourceName != null">
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.v5.entity.Source">
    update t_source
    set source_name = #{sourceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>